@model IEnumerable<Video_Library.Areas.Admin.Models.ViewModel.GetUserViewModel>
@{
    ViewData["Title"] = "ShowUser";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-primary">User Record</h1>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>UserName</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                @foreach (var u in Model)
                {
            <tr>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.UserName</td>
                <td>@u.Gender</td>
                <td>@u.Email</td>
                <td>@u.Phone</td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>


